[submodule "third_party/neodev.nvim"]
	path = third_party/neodev.nvim
	url = https://github.com/folke/neodev.nvim
[submodule "third_party/wezterm-types"]
	path = third_party/wezterm-types
	url = https://github.com/sudo-tee/wezterm-types
