[include]
  path = .gitconfig.local
  path = .gitconfig.platform
[user]
  name = mono
  email = mono@monoweb.info
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  pager = LESS=-R less
[grep]
  lineNumber = true
[alias]
  br = branch
  ci = commit -v
  co = checkout
  di = diff
  wd = diff --word-diff
  st = status
  pr = pull --rebase
  gp = grep -n
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
[push]
  default = simple
[pull]
  ff = only
[merge]
  ff = false
[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com/"
[url "git@bitbucket.org:"]
  pushinsteadof = "git://bitbucket.org/"
  pushinsteadof = "https://bitbucket.org/"
[hub]
  protocol = https
[ghq]
  root = ~/src
