[user]
  name = mono
  email = mono@monoweb.info
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = false
[grep]
  lineNumber = true
[alias]
  br = branch
  ci = commit -v
  co = checkout
  di = diff
  wd = diff --word-diff
  st = status
  pr = pull --rebase
  gp = grep -n
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
[push]
  default = simple
[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com/"
[url "git@bitbucket.org:"]
  pushinsteadof = "git://bitbucket.org/"
  pushinsteadof = "https://bitbucket.org/"
