[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/rupa/z
[submodule ".zsh/cd-gitroot"]
	path = .zsh/cd-gitroot
	url = https://github.com/mollifier/cd-gitroot
[submodule "firefox/profile/searchplugins"]
	path = firefox/profile/searchplugins
	url = git@bitbucket.org:mono0x/searchplugins.git
