" .ideavimrc
" vim: foldmethod=marker

" Edit {{{
set clipboard=unnamed,unnamedplus
set history=1000
set hlsearch
set ignorecase
set iminsert=2
set incsearch
set showcmd
set showmatch
set smartcase
set surround

nnoremap <Esc><Esc> :nohlsearch<CR>
nnoremap <C-[><C-[> :nohlsearch<CR>
" }}}

" for macOS {{{
inoremap <¥> \
" }}}

" Built-in actions {{{
nnoremap <Space>r :action RunClass<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-t> :action Refactorings.QuickListPopupAction<CR>
" }}}

" Git operations {{{
noremap <Space>gb :action Annotate<CR>
noremap <Space>gh :action Github.Open.In.Browser<CR>
" }}}
