export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_AUTO_UPDATE=1

{{- $prefix := "" -}}
{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{- $prefix = "/home/linuxbrew/.linuxbrew" -}}
{{- else if lookPath "/opt/homebrew/bin/brew" -}}
{{- $prefix = "/opt/homebrew" -}}
{{- end -}}

{{- if ne $prefix "" -}}
{{- output (joinPath $prefix "/bin/brew") "shellenv" | trim -}}
path=(
  $HOMEBREW_PREFIX/share/git-core/contrib/diff-highlight(N-/)
  $path
)
# https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
fpath=(
  $HOMEBREW_PREFIX/share/zsh/site-functions(N-/)
  $fpath
)
{{- end -}}
