{{ if lookPath "herdr" -}}
smartcache comp herdr completion zsh
{{ end -}}
{{ if lookPath "hk" -}}
smartcache comp hk completion zsh
{{ end -}}
{{ if lookPath "jj" -}}
smartcache comp jj util completion zsh
{{ end -}}
{{ if lookPath "mise" -}}
smartcache comp mise completion zsh
{{ end -}}
{{ if lookPath "op" -}}
smartcache comp op completion zsh
{{ end -}}
{{ if lookPath "sheldon" -}}
smartcache comp sheldon completions --shell zsh
{{ end -}}
