{{ if lookPath "mise" -}}
smartcache comp mise completion zsh
{{ end -}}
{{ if lookPath "op" -}}
smartcache comp op completion zsh
{{ end -}}
{{ if lookPath "sheldon" -}}
smartcache comp sheldon completions --shell zsh
{{ end -}}
