# https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cmd/shellenv.sh

{{ $prefix := "" -}}
{{ if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{ $prefix = "/home/linuxbrew/.linuxbrew" -}}
{{ else if stat "/opt/homebrew/bin/brew" -}}
{{ $prefix = "/opt/homebrew" -}}
{{ end -}}

{{ if ne $prefix "" -}}
{{ $brew := joinPath $prefix "bin/brew"  -}}
{{ if lookPath $brew -}}
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_PREFIX="{{ $prefix }}";
export HOMEBREW_CELLAR="$HOMEBREW_PREFIX/Cellar";
export HOMEBREW_REPOSITORY="$HOMEBREW_PREFIX";
fpath[1,0]="$HOMEBREW_PREFIX/share/zsh/site-functions";
[ -z "${MANPATH-}" ] || export MANPATH=":${MANPATH#:}";
export INFOPATH="$HOMEBREW_PREFIX/share/info:${INFOPATH:-}";
path=(
  $HOMEBREW_PREFIX/bin(N-/)
  $HOMEBREW_PREFIX/sbin(N-/)
  $HOMEBREW_PREFIX/share/git-core/contrib/diff-highlight(N-/)
  $path
)
{{ end -}}
{{ end -}}
