# https://zenn.dev/enchan1207/articles/7b9d7d397b7d0d
[[ -o no_global_rcs ]] && [ -r /etc/zshrc ] && . /etc/zshrc

# Homebrew
{{ includeTemplate "dot_config/zsh/.homebrew.zsh.tmpl" . }}

# Sheldon
{{ if lookPath "sheldon" -}}
{{ output "sheldon" "source" | trim }}
{{ end -}}
