name: mise up
on:
  schedule:
    - cron: "0 0 * * 1" # every week
  workflow_dispatch:
jobs:
  mise-up:
    uses: mono0x/workflows/.github/workflows/mise-up.yml@53413f0995c2d51c71a00c7858132bd95162a2c5 # main
    secrets:
      app-private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      mise-version: "2025.11.8"
      app-id: ${{ vars.GH_APP_ID }}
