name: mise up
on:
  schedule:
    - cron: "0 0 * * 1" # every week
  workflow_dispatch:
jobs:
  mise-up:
    uses: mono0x/workflows/.github/workflows/mise-up.yml@15956bbd02f02b8c385c0a177828f7a6f1e1163e # main
    secrets:
      app-private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      app-id: ${{ vars.GH_APP_ID }}
